*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.displayFlex{
    display: flex;
}
.flexRow{
    flex-direction: row;
}
.flexEnd{
    flex-direction: row-reverse;
}
.logo{
    height: 25px;
    align-self: flex-end;
}

@media (min-width: 900px) {.logo
    {
        transform: translate(-50%, +25%);
    }
}
.relative{
    position:relative;
    height: 4000px;
}
.navbar{
    height:50px;
    background-color: #ff6900;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.linkHeader{
    color: white;
    text-decoration: none;
    margin: 0 .5em;
}
.linkHeader:hover{
    font-size: large;
}

