*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* flex generic */
.displayFlex{display: flex;}
.flexRow{flex-direction: row;}
.flexEnd{flex-direction: row-reverse;}
.wrap{flex-wrap: wrap;}

/* colonna temporaneo */
.column{
    flex-direction: column;
    height: 525px;
    width: 330px;
    background-color: aqua;
}

/* margin generic */
.margin0Auto{margin: 0 auto;}
.marginTop{margin-top: 30px;}


/* position generic */
.relative{position:relative;}
.absolute{position: absolute;}

.logo{
    height: 25px;
    align-self: flex-end;
}

@media (min-width: 900px) {.logo
    {
        transform: translate(-50%, +25%);
    }
}
.w80{
    max-width: 70vw;
    height: 1000px;
}


.navbar{
    height:50px;
    background-color: #ff6900;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.linkHeader{
    color: white;
    text-decoration: none;
    margin: 0 .5em;
}
.linkHeader:hover{
    font-size: large;
}

.mainContainer{
    justify-content: space-between;
    align-items: center;
}

.w330px{
    width: 330px;
    height: 480px;
}
.containerCuore{
    right:0;
    top: 30px;
}

.cuore{
    display: inline-block;
    font-size: 30px;
    background-color: white;
    padding: 10px;
}
.cuore:hover{
    color: red;
}


.discountContainer{
    bottom: 80px;
}
.discount{
    font-size: small;
    color: white;
    padding: 5px 5px;
    background-color: rgb(255, 39, 39);
}
.sostenibile{
    font-size: small;
    color: white;
    display: inline-block;
    background-color: green;
    padding: 5px 5px;
}

.imgHover:hover{
    opacity: 0;
}
.marca{
    font-size: smaller;
    opacity: .5;
}

.itemName{
    font-weight: 400;
    margin: .2em 0;
}
.currentPrice{
    color: rgb(255, 30, 30);
    font-size: small;
    font-weight: bold;
}
.previousPrice{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
    font-size: small;
}
.secondaImg{
    left: 0;
    z-index: -1;
}